:root {
    --color-principal: #F18700;
    --color-blanco: #FFF;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: transparent;
}

body {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    background-color: #FF8C00;
    color: white;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    text-align: center;
    padding: 15px 25px;
    position: relative;
    border-bottom: 0.1em solid var(--color-blanco);
    text-transform: capitalize;
    line-height: normal;
}

th {
    width: 30%;
    font-weight: 700;
}

td {
    width: 70%;
    font-weight: 500;
}

table {
    padding: 1em 2em 1em 2em;
}