:root {
    --color-principal: #F18700;
    --color-blanco: #FFF;
    --color-azul: #0039A6;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: transparent;
}

body {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    background-color: #FF8C00;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 1em 2em 1em 2em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 1), -1px -1px 8px rgba(0, 0, 0, 1);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

th,
td {
    text-align: center;
    padding: 15px 25px;
    position: relative;
    text-transform: capitalize;
    line-height: normal;
    border-bottom: 0.1em solid var(--color-blanco);
}

th {
    width: 30%;
    font-weight: 700;
}

td {
    width: 70%;
    font-weight: 500;
}

tr {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

tr:hover {
    transform: scale(1.02);
    background-color: var(--color-azul);
    border-bottom: 0px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5), -1px -1px 8px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

tr:hover th,
tr:hover td {
    border-bottom: none;
}

/* Definir anchos específicos */
th:nth-child(1), td:nth-child(1) {
    width: 15%;
}
th:nth-child(2), td:nth-child(2) {
    width: 30%;
}
th:nth-child(3), td:nth-child(3) {
    width: 30%;
}
th:nth-child(4), td:nth-child(4) {
    width: 25%;
}